:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #F8F9FA
}

.faq-h3 {
  text-transform: uppercase;
  margin-top: 2rem;
}