.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.team-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-title-background {
  background-color: white;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 10px;
  margin: 0;
  opacity: 0.8;
  margin-top: 1rem;
}