.fade-in-section {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, transform 1.2s ease-in-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section.not-visible {
  opacity: 0;
  visibility: hidden;
}

/* * {
  overflow-x: hidden;
} */

.testimonial-container {
  overflow-y: scroll;
  height: 80vh;
  overflow-x: hidden;
}